*{
    text-decoration: none;
    list-style: none;
    font-family: 'Signika Negative', sans-serif;
    color: black;
}

body{
    margin: 0px auto;
    padding: 0px;
    background: rgb(255,251,198);
background: linear-gradient(90deg, rgba(255,251,198,0.6699054621848739) 0%, rgba(255,235,0,0.6054796918767507) 100%);
}

.page {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 8% 80% 10%;
    margin: 0px auto;
    padding: 0px;
    text-align: center;
    background: rgb(255,251,198);
background: linear-gradient(90deg, rgba(255,251,198,0.6699054621848739) 0%, rgba(255,235,0,0.6054796918767507) 100%);
  }
  
  