@media all and (max-width: 900px){
    .animation_logo {
        display: flex;
        justify-content: center;
        margin: 0 auto;
        width: 80%;
        height: 50%;
        margin-top: 15%;
    }
  }


 @media all and (max-width: 800px){
    .animation_logo {
        display: flex;
        justify-content: center;
        margin: 0 auto;
        width: 80%;
        height: 50%;
        margin-top: 15%;
    }
  }

@media all and (max-width: 700px){
    .animation_logo {
        display: flex;
        justify-content: center;
        margin: 0 auto;
        width: 80%;
        height: 50%;
        margin-top: 15%;
    }
  }

  @media all and (max-width: 600px){
    .animation_logo {
        display: flex;
        justify-content: center;
        margin: 0 auto;
        width: 80%;
        height: 40%;
        margin-top: 15%;
    }
  }
   
  @media all and (max-width: 500px){
    .animation_logo {
        display: flex;
        justify-content: center;
        margin: 0 auto;
        width: 80%;
        height: 35%;
        margin-top: 25%;
    }
  }
  
  @media all and (max-width: 400px){
    .animation_logo {
        display: flex;
        justify-content: center;
        margin: 0 auto;
        width: 80%;
        height: 30%;
        margin-top: 30%;
    }
}




// responsive contacto




@media all and (max-width: 700px){
    .container_img{
        display: flex;
        flex-direction: column;
    }

    .container_img{
        img{
        width: 85px;
        margin: 40px; 
        }
        

    }
} 

@media (max-width: 480px){
    .container_img{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
}

@media (max-width: 480px){
    .container_img{
        img{
        width: 70px;
        margin: 40px;
        }

    }
}

@media (max-width: 700px){
    .informacion_contacto, h2{
        display: none;

    }
}





// responsive de videos_musicales 



@media (max-width: 800px) {
    .container_card {
        .card_video{
        display: none;     
        }

    }  
    .card_4{
        display: block;
        width: 40%;
        margin-top: 15%;
    }
    h5{
        font-size: smaller;
    }
    .nuestros_videos{
        display: none;
    }
}



// ---- responsive de historia ----



@media (max-width :900px){
    .container_history{
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .div_history{
            width: 80%;
        }
    }
}


@media (max-width: 1200px){
    .footer_historia{
    margin-top: 60vh;
    }
}


@media (max-width: 1150px){
    .footer_historia{
    margin-top: 70vh;
    }
}


@media (max-width: 1022px){
    .footer_historia{
    margin-top: 80vh;
    }
}


@media (max-width: 1000px){
    .footer_historia{
    margin-top: 90vh;
    }
}

@media (max-width: 950px){
    .footer_historia{
    margin-top: 110vh;
    }
}

@media (max-width: 899px){
    .footer_historia{
    margin-top: 100vh;
    }
}

@media (max-width: 899px){
    .footer_historia{
    margin-top: 100vh;
    }
}

@media (max-width: 809px){
    .footer_historia{
    margin-top: 110vh;
    }
}

@media (max-width: 750px){
    .footer_historia{
    margin-top: 120vh;
    }
}

@media (max-width: 700px){
    .footer_historia{
    margin-top: 130vh;
    }
}

@media (max-width: 650px){
    .footer_historia{
    margin-top: 140vh;
    }
}

@media (max-width: 620px){
    .footer_historia{
    margin-top: 150vh;
    }
}

@media (max-width: 590px){
    .footer_historia{
    margin-top: 160vh;
    }
}

@media (max-width: 570px){
    .footer_historia{
    margin-top: 170vh;
    }
}

@media (max-width: 534px){
    .footer_historia{
    margin-top: 190vh;
    }
}

@media (max-width: 490px){
    .footer_historia{
    margin-top: 200vh;
    }
}

@media (max-width: 472px){
    .footer_historia{
    margin-top: 210vh;
    }
}

@media (max-width: 465px){
    .footer_historia{
    margin-top: 230vh;
    }
}

@media (max-width: 449px){
    .footer_historia{
    margin-top: 250vh;
    }
}

@media (max-width: 430px){
    .footer_historia{
    margin-top: 265vh;
    }
}

@media (max-width: 420px){
    .footer_historia{
    margin-top: 272vh;
    }
}

@media (max-width: 404px){
    .footer_historia{
    margin-top: 278vh;
    }
}